{% extends 'url.html' %}

{% block content %}
    <br>
    <br>
    <br>
    <h2 style="font-size:1.5em">Enter your URL to short</h2>
    <br>
    <form action="" method="POST"> {% csrf_token %}
    <table>
    <label for="Url"> Short Url:  </label>&ensp;
    <input id="url" type="text" name="url" value='http://tinyurl.com/' size="50" >
    <br>
    <br>
    <label for="Full Url"> Full Url: </label>&ensp; {{full_url}}
    <br>
    <br>
    </table>
    <br>
    <input type="submit" value="Submit">
    </form>
{% endblock %}
